@media only screen and (min-width: 769px) and (max-width: 10000px)
{
	#mobileSection .mobileMenu
	{
		display: block !important;
	}
}
@media only screen and (min-width: 1025px) and (max-width: 1200px)
{
	header
	{
		width: 100%;
	}
	header .center
	{
		width: 100%;
		padding: 0px 2%;
	}
	header .siteLogo
	{
		padding: 18px 0 0 1px;
	}
	header.smaller .siteLogo
	{
		padding: 11px 0 0;
	}
	.navigation
	{
		margin-right: 0px;
	}
	.navigation li a
	{
		padding: 30px 36px;
	}
	header.smaller .navigation li a
	{
		padding: 16px 36px;
	}
	
	#container
	{
		width: 100%;
	}
	.bottom
	{
		width: 100%;
	}
	footer
	{
		width: 100%;
	}
	footer .copyright
	{
		width: 100%;
		padding: 20px 2%;
	}
}
/* Tablet Portrait size to standard 960 (devices and browsers) */

@media only screen and (min-width: 768px) and (max-width: 1024px)
{
	header
	{
		width: 100%;
		height: 87px;
	}
	header .center
	{
		width: 100%;
		/*padding: 0px 2%;*/
	}
	header .siteLogo
	{
		padding: 16px 0 0 1px;
		position: relative;
		z-index: 1;
	}
	header .siteLogo h1
	{
		line-height: 33px;
	}
	header .siteLogo h1 a img
	{
		height: 55px;
	}
	header.smaller .navigation li a
	{
		padding: 16px 20px;
	}
	.navigation
	{
		margin-right: 0px;
	}
	.navigation li a
	{
		padding: 30px 20px;
	}
	
	#container
	{
		width: 100%;
	}
	.bottom
	{
		width: 100%;
	}
	footer
	{
		width: 100%;
	}
	footer .copyright
	{
		width: 100%;
		padding: 20px 2%;
	}
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

@media only screen and (min-width: 480px) and (max-width: 767px)
{
	/* Mobile device 1 (small Tablet) */
	header
	{
		width: 100%;
		position: absolute;
		height: 57px;
	}
	header .center
	{
		width: 100%;
	}
	header .siteLogo
	{
		padding: 10px 0% 0px 3%;
		position: relative;
		z-index: 1;
	}
	header .siteLogo h1
	{
		margin: 0px;
		line-height: 36px;
	}
	header .siteLogo h1 a img
	{
		height: 40px;
	}
	header.smaller
	{
		height: 55px;
	}
	header.smaller .siteLogo
	{
		padding: 10px 0% 0px 3%;
	}
	header.smaller .siteLogo h1 a
	{
		font-size: 36px;
	}
	#mobileSection
	{
		position: fixed;
		width: 100%;
	}
	#mobileSection .mobile
	{
		display: block;
		position: relative;
		float: right;
	}
	#mobileSection .mobileMenu
	{
		display: none;
		width: 100%;
		position: absolute;
		top: 55px;
		right: 0%;
		background: rgba(0, 0, 0, 0.5);
	}
	#mobileSection .mobileMenu .navigation
	{
		width: 100%;
		float: none;
	}
	#mobileSection .mobileMenu .navigation ul
	{
		width: 100%;
		float: none;
	}
	#mobileSection .mobileMenu .navigation li
	{
		float: none;
		width: 100%;
		border-bottom: solid 1px #ff6000;
	}
	#mobileSection .mobileMenu .navigation li a
	{
		padding: 10px 21px;
		background: none;
		border-bottom: none;
	}
	#mobileSection .mobileMenu .navigation li:last-child
	{
		border-bottom: none;
	}
	
	#profileSection
	{
		display: none;
	}
	
	#container
	{
		width: 100%;
	}
	
	.content
	{
		width: 100%;
	}
	.content *
	{
		max-width: 98% !important;
	}
	
	.bottom
	{
		width: 100%;
	}
	footer
	{
		width: 100%;
	}
	footer .copyright
	{
		width: 100%;
		padding: 10px 3%;
	}
	
	/*====deeds_details====*/
	.details .infoLabel,
	.details .infoValue,
	.details .addressValue
	{
		padding-right: 0px;
	}
	.details .infos table
	{
		width: 100%;
	}
	.details td
	{
		width: 100%;
		word-wrap: break-word;
	}
	.details td
	{
		display: inline-block;
		margin-top: 2px;
	}
	/*====/deeds_details====*/
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

@media only screen and (max-width: 479px)
{
	/* Mobile device 2 */
	header
	{
		width: 100%;
		position: absolute;
		height: 57px;
	}
	header .center
	{
		width: 100%;
	}
	header .siteLogo
	{
		padding: 10px 0% 0px 3%;
		position: relative;
		z-index: 1;
	}
	header .siteLogo h1
	{
		margin: 0px;
		line-height: 36px;
	}
	header .siteLogo h1 a img
	{
		height: 40px;
	}
	header.smaller
	{
		height: 55px;
	}
	header.smaller .siteLogo
	{
		padding: 10px 0% 0px 3%;
	}
	header.smaller .siteLogo h1 a
	{
		font-size: 36px;
	}
	#mobileSection
	{
		position: fixed;
		width: 100%;
	}
	#mobileSection .mobile
	{
		display: block;
		position: relative;
		float: right;
	}
	#mobileSection .mobileMenu
	{
		display: none;
		width: 100%;
		position: absolute;
		top: 55px;
		right: 0%;
		background: rgba(0, 0, 0, 0.5);
	}
	#mobileSection .mobileMenu .navigation
	{
		width: 100%;
		float: none;
	}
	#mobileSection .mobileMenu .navigation ul
	{
		width: 100%;
		float: none;
	}
	#mobileSection .mobileMenu .navigation li
	{
		float: none;
		width: 100%;
		border-bottom: solid 1px #ff6000;
	}
	#mobileSection .mobileMenu .navigation li a
	{
		padding: 10px;
		background: none;
		border-bottom: none;
	}
	#mobileSection .mobileMenu .navigation li a:hover,
	#mobileSection .mobileMenu .navigation li a.active
	{
		background: #ff6000;
		border-bottom: none;
	}
	#mobileSection .mobileMenu .navigation li:last-child
	{
		border-bottom: none;
	}
	
	#profileSection
	{
		display: none;
	}
	
	#container
	{
		width: 100%;
	}
	
	.content
	{
		width: 100%;
	}
	.content *
	{
		max-width: 98% !important;
	}
	
	.bottom
	{
		width: 100%;
	}
	footer
	{
		width: 100%;
	}
	footer .copyright
	{
		width: 100%;
		padding: 10px 3%;
	}
	
	/*====deeds_details====*/
	.details
	{
		width: 96%;
		/*t r b l*/
		padding: 2% 2% 2% 4%;
	}
	.details .author
	{
		top: 32px;
	}
	.details .description
	{
		margin-top: 66px;
	}
	.details .infoLabel,
	.details .infoValue,
	.details .addressValue
	{
		padding-right: 0px;
	}
	.details .infos table
	{
		width: 100%;
	}
	.details td
	{
		width: 100%;
		word-wrap: break-word;
	}
	.details td
	{
		display: inline-block;
		margin-top: 2px;
	}
	/*====/deeds_details====*/
}
@media only screen and (max-width: 1199px)
{
	header,
	.navigation li,
	.navigation li:hover span,
	.navigation li.active span
	{
		height: 87px;
	}
	header.smaller .navigation li:hover span,
	header.smaller .navigation li.active span
	{
		height: 60px;
	}
	
	.navigation ul{ margin-left: -20px; }
	#profileSection
	{
		width: 140px;
		height: 87px;
	}
	/*#profileSection input[type=text],
	#profileSection input[type=password]
	{
		padding: 5px 10px 6px 10px;
		font-size: 10px;
	}
	#profileSection input[type=submit]
	{
		padding: 5px 32px 5px 32px;
		font-size: 20px;
	}
	header.smaller #profileSection input[type=text],
	header.smaller #profileSection input[type=password]
	{
		padding: 2px 10px 3px 10px;
	}
	header.smaller #profileSection input[type=submit]
	{
		padding: 2px 42px 2px 42px;
		font-size: 13px;
	}*/
}
@media only screen and (max-width: 767px)
{
	header
	{
		height: 55px;
		position: fixed;
	}
	.navigation li
	{
		height: 45px;
	}
	header .siteLogo
	{
		padding-top: 8px;
	}
	.navigation li:hover span,
	.navigation li.active span
	{
		height: 45px;
		background: rgba(0, 0, 0, .8);
	}
	.navigation li span
	{
		border-bottom: none;
		background: none;
	}
	#mobileSection .mobileMenu .navigation li:hover,
	#mobileSection .mobileMenu .navigation li.active
	{
		background: #ff6000 none repeat scroll 0% 0%;
		border-bottom: medium none;
	}
	header.smaller .navigation li
	{
		height: 45px;
	}
}