* { margin: 0px; padding: 0px; box-sizing: border-box; -webkit-font-smoothing: antialiased; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 0; font-family: inherit; font-size: 100%; font-weight: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary
{ 
	display: block;
}
html, body
{ 
	font-family: Arial;
	font-size: 14px;
	color: #8c806e;
}
ul, ol { margin-top: 0; margin-bottom: 10px; }
ul ul { margin-bottom: 0; }
li { font-size: 14px; margin: 5px 0px 10px 0px; }
pre { overflow: auto; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { font-weight: normal; text-align: left; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { -webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; quotes: none; }
a img { border: 0; }
a, input { outline: none; }
a
{
	color: #ff6000;
	text-decoration: none;
	
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
a:hover
{
	color: #424242;
	
	text-shadow:
	/*nach oben*/
    0 0 20px #fefcc9,
    10px -10px 30px #feec85,
    -20px -20px 40px #ffae34,
	/*nach unten*/
	/*0 0 20px #fefcc9,*/
    10px 10px 30px #feec85,
    -20px 20px 40px #ffae34;
}
h1, h2, h3, h4, h5, h6 { margin: 5px 0px 15px 0px; clear: both; font-weight: lighter; }
h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 14px; }
p {font-size: 13px; margin: 5px 0px 15px 0px; }

img { -ms-interpolation-mode: bicubic; border: 0; height: auto; vertical-align: middle; display: block;  }
figure { margin: 0; }
::-webkit-input-placeholder { color: rgba(51, 51, 51, 0.7); font-style: italic; }
:-moz-placeholder { color: rgba(51, 51, 51, 0.7); font-style: italic; }
::-moz-placeholder { color: rgba(51, 51, 51, 0.7); opacity: 1; /* Firefox 19 verringert die opacity eines placeholders standardm‰ﬂig */ font-style: italic; }
:-ms-input-placeholder { color: rgba(51, 51, 51, 0.7); font-style: italic; }


input[type=button], input[type=submit]:not(.anchor)
{
	border: none;
	background: #ff8000;
	background-image: -webkit-linear-gradient(top, #ff8000, #ff6000);
	background-image: -moz-linear-gradient(top, #ff8000, #ff6000);
	background-image: -ms-linear-gradient(top, #ff8000, #ff6000);
	background-image: -o-linear-gradient(top, #ff8000, #ff6000);
	background-image: linear-gradient(to bottom, #ff8000, #ff6000);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-shadow: 1px 1px 2px #000000;
	font-family: Arial;
	color: #ffffff;
	font-size: 21px;
	padding: 8px 42px 8px 42px;
	text-decoration: none;
	
	text-transform: uppercase;
	letter-spacing: 1px;
	display: inline-block;

	cursor: pointer;
	
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
input[type=button]:hover, input[type=submit]:not(.anchor):hover
{
	background: #848484;
	background-image: -webkit-linear-gradient(top, #848484, #424242);
	background-image: -moz-linear-gradient(top, #848484, #424242);
	background-image: -ms-linear-gradient(top, #848484, #424242);
	background-image: -o-linear-gradient(top, #848484, #424242);
	background-image: linear-gradient(to bottom, #848484, #424242);
	text-decoration: none;
	
	color: #ff6000;
}
input[type=button]:active, input[type=submit]:not(.anchor):active
{
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
	
	color: #ffffff;
}

input[type=text], input[type=password], input[type=email], input[type=number], input[type=date], input[type=time], input[type=search], select, textarea
{
	border: 2px inset #eeeeee; 
	outline: 0;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
	-webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95A2A7 inset;
	box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95A2A7 inset;
	
	padding: 10px 14px 10px 14px;
	
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, input[type=date]:focus, input[type=time]:focus, input[type=search]:focus, select:focus, textarea:focus
{
	border: 2px inset #eeeeee;
	
	-moz-box-shadow: inset 0 0 4px #ff6000; 
	-webkit-box-shadow: inset 0 0 4px #ff6000; 
	box-shadow: inset 0 0 4px #ff6000;
} 
/*::-webkit-datetime-edit
::-webkit-datetime-edit-fields-wrapper
::-webkit-datetime-edit-text
::-webkit-datetime-edit-month-field
::-webkit-datetime-edit-day-field
::-webkit-datetime-edit-year-field
::-webkit-inner-spin-button
::-webkit-calendar-picker-indicator*/
::-webkit-datetime-edit-fields-wrapper
{
	border: 2px inset #eeeeee; 
	outline: 0;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
	-webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95A2A7 inset;
	box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95A2A7 inset;
	
	padding: 10px 14px 10px 14px;
	
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
::-webkit-datetime-edit-fields-wrapper:focus
{
	border: 2px inset #eeeeee;
	
	-moz-box-shadow: inset 0 0 4px #ff6000; 
	-webkit-box-shadow: inset 0 0 4px #ff6000; 
	box-shadow: inset 0 0 4px #ff6000;
} 
input[type=text]:disabled, input[type=text][readonly]
{
	background: #e3e3e3;
}


/*====Standard inputs unsichtbar machen====*/
input[type=checkbox],
input[type=radio]
{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border:none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	font-size: 1em;
	width: 100%
} 
/*====ie8 support====*/
input[type=checkbox],
input[type=radio]
{
	width: auto;
	float: left;
	margin-right: .75em;
	background: transparent;
	border: none;
}

input[type=checkbox]:checked,
input[type=checkbox]:not(:checked),
input[type=radio]:checked,
input[type=radio]:not(:checked)
{
	background: transparent;
	position: relative;
	visibility: hidden;
	margin: 0;
	padding: 0;
}
/*====/Standard inputs unsichtbar machen====*/

/*====inneres====*/
input[type=checkbox]:checked + label::before,
input[type=checkbox]:not(:checked) + label::before,
input[type=radio]:checked + label::before,
input[type=radio]:not(:checked) + label::before
{
	content: ' ';
	display: inline-block;
	width: 18px;
	height: 18px;
	position: relative;
	top: 4px;
	border: 1px solid #bbbbbb;
	background: white;
	margin-right: 1em;
	box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .1);
}
/*====radio Buttons sind rund====*/
input[type=radio]:checked + label::before,
input[type=radio]:not(:checked) + label::before
{
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

input[type=checkbox]:hover + label::before,
input[type=radio]:hover + label::before
{
	background: #848484;
	box-shadow: inset 0 0 0 2px white;
}

input[type=checkbox]:checked + label::before,
input[type=radio]:checked + label::before
{
	background: #ff6000;
	box-shadow: inset 0 0 0 2px white;
}

/*====auch das Label ist anklickbar und soll daher den cursor zum pointer machen====*/
input[type=checkbox] + label,
input[type=radio] + label
{
	cursor: pointer;
}


.hide { display: none; }

.clear { clear: both; height: 0px; overflow: hidden; }

body
{
	background: url(../img/bg-body.jpg);/*#ffffff;*/
	color: #424242;
}

.holder { position: relative; display: block; width: 100%; min-height: 100%; }
.wrap { margin: 0 auto; display: block; width: 100%; }


header { width: 100%; position: fixed; top: 0px; left: 0px; height: 105px; background: rgba(0, 0, 0, 0.5); z-index: 10; }
header .center { margin: auto; }
header .siteLogo { padding: 10px/*(105-88)/2*/ 0px 0px 0px; width: 220px; float: left; text-align: center; -webkit-transition: all .3s; transition: all .3s; }
header .siteLogo h1 { margin: 0px; }
header .siteLogo h1 a { font-size: 36px; color: #fff; font-family: 'Open Sans', sans-serif; font-weight: 800; text-decoration: none; text-transform: uppercase; text-shadow: rgb(3, 3, 3) 0px 2px 5px; -webkit-transition: all .7s ease; transition: all .7s ease; }
header .siteLogo h1 a img { padding-left: 5px; height: 88px; -webkit-transition: all .3s; transition: all .3s; }
header.smaller { padding: 0px 0px 0px 0px; height: 60px; background: rgba(0, 0, 0, 0.75); -webkit-transition: all .3s; transition: all .3s; }
header.smaller .siteLogo {padding: 5px 0px 0px 0px; }
header.smaller .siteLogo h1 { line-height: 30px; }
header.smaller .siteLogo h1 a { font-size: 30px; }
header.smaller .siteLogo h1 a img { height: 50px; }


.navigation { width: 100%; /*position: absolute;*/ text-align: center; }
.navigation ul { display: inline-block; padding: 0px; margin: 0px; list-style: none; }
.navigation li
{
	float: left;
	padding: 0px;
	margin: 0px;
	height: 105px;
	position: relative;
	
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}
.navigation li:hover
{
	text-shadow:
	/*nach oben*/
    0 0 20px #fefcc9,
    10px -10px 30px #feec85,
    -20px -20px 40px #ffae34,
    20px -40px 50px #ec760c,
    -20px -60px 60px #cd4606,
	/*nach unten*/
	/*0 0 20px #fefcc9,*/
    10px 10px 30px #feec85,
    -20px 20px 40px #ffae34,
    20px 40px 50px #ec760c,
    -20px 60px 60px #cd4606;
}
.navigation li a { padding: 42px 41px 36px 41px; font-size: 16px; color: #ffffff; font-family: 'Open Sans', sans-serif; font-weight: 400; text-decoration: none; display: block; -webkit-transition: all .3s ease; transition: all .3s ease; }
.navigation li span
{ 
	border-bottom: solid 6px #ff6000;
	/*background: #848484;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #848484), color-stop(0%, #848484), color-stop(0%, #848484), color-stop(100%, #424242));
	background: linear-gradient(to bottom, #848484 0%, #848484 0%, #848484 0%, #424242 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#424242', GradientType=0);*/
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;
	opacity: 0;
		
	-webkit-transition: all .5s ease; 
	transition: all .5s ease;
}
.navigation li:hover span,
.navigation li.active span
{
	opacity: 1;
}

header.smaller .navigation li a { padding: 16px 41px; }
header.smaller .navigation li { height: 60px; }

#profileSection
{
	float: right;
	width: 180px;
	height: 105px;
	text-align: center;
	/*top right bottom left*/
	padding: 16px 20px 0px 0px;
	display: inline-block;
	font-size: 14px;
	color: #ffffff;
	
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	
	cursor: pointer;
}
#profileSection .profile
{
	tex-align: center;
	width: 100%;
	height: 100%;
}
#profileSection .profile img
{
	border-radius: 50%;
	height: 60%;
	width: auto;
}
#profileSection .profile a
{
	color: #ffffff;
}
#profileSection .guest
{
	padding: 15px 0px 0px 0px;
}
/*#profileSection input[type=text],
#profileSection input[type=password]
{
	width: 100%;

	padding: 8px 14px 8px 14px;
	
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: none;
	outline: 0;
	
	background: rgba(255, 255, 255, .8);
}
#profileSection input[type=submit]
{
	width: 100%;

	padding: 5px 42px 6px 42px;
	font-size: 22px;
	
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}*/
header.smaller #profileSection
{
	/*top/bottom left/right*/
	padding: 5px 0px;
	height: 60px;
}
header.smaller #profileSection a
{
	
}
header.smaller #profileSection .guest
{
	padding: 5px 0px;
}
/*header.smaller #profileSection input[type=text],
header.smaller #profileSection input[type=password]
{
	padding: 1px 14px 1px 14px;
}
header.smaller #profileSection input[type=submit]
{
	padding: 2px 42px 2px 42px;
	font-size: 13px;
}*/

.profileContent
{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);
}
.profileContent a
{
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.profileContent a:hover
{
	background-color: #e2e2e2;
	text-shadow: none;
}
#profileSection:hover .profileContent
{
    display: block;
}


.mobile { display: none; }
.mobile .fa
{
	overflow: hidden;
	padding: 12px 14px;
	font-size: 31px;
	width: 55px;
	height: 55px;
	color: #ffffff;
	text-shadow:
	1px 1px 0px #ff2000/*rgba(0, 0, 0, .8)*/,
	2px 2px 0px #ff2000,
	3px 3px 0px #ff2000,
	4px 4px 0px #ff2000,
	5px 5px 0px #ff2000,
	6px 6px 0px #ff2000,
	7px 7px 0px #ff2000,
	8px 8px 0px #ff2000,
	9px 9px 0px #ff2000,
	10px 10px 0px #ff2000,
	11px 11px 0px #ff2000,
	12px 12px 0px #ff2000,
	13px 13px 0px #ff2000,
	14px 14px 0px #ff2000,
	15px 15px 0px #ff2000,
	16px 16px 0px #ff2000,
	17px 17px 0px #ff2000,
	18px 18px 0px #ff2000,
	19px 19px 0px #ff2000,
	20px 20px 0px #ff2000,
	21px 21px 0px #ff2000,
	22px 22px 0px #ff2000,
	23px 23px 0px #ff2000,
	24px 24px 0px #ff2000;
	cursor: pointer;
	background: #ff6000;

	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	
	float: left;
}
.mobile .fa:hover { text-shadow: none; }
.mobile.closed .fa-bars { display: none; }
.mobile .fa-times { padding: 11px 15px; width: 55px; height: 55px; display: none; font-size: 31px; }
.mobile.closed .fa-times { display: block; }
.mobile .profile
{
	overflow: hidden;
	font-size: 31px;
	width: 55px;
	height: 55px;
	color: #ffffff;
	cursor: pointer;
	margin-right: 10px;
	margin-top: 2.5%;

	float: left;
}
.mobile .profile img
{
	width: 90%;
	border-radius: 50%;
}
.mobileProfileContent
{
	position: absolute;
	background-color: #f9f9f9;
	margin-top: 55px;
	left: -95px;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.mobileProfileContent.closed
{
	display: none;
}
.mobileProfileContent a
{
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.mobileProfileContent a:hover
{
	background-color: #e2e2e2;
	text-shadow: none;
}


#container
{
	position: relative;
	width: 100%;
}
.content
{
	width: 100%;
	max-width: 1100px;
	margin: auto; 
	text-align: center;
	overflow: auto;
	overflow-x: hidden;

	margin-top: 147px; /*105px wegen navigation + 42px normaler margin*/
	margin-bottom: 84px;
}
.content h2
{
	padding-bottom: 42px;
	font-size: 42px;
	color: #ff6000;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	margin: 0px;
	line-height: 42px;
}


.bottom { position: relative; width: 100%; overflow: hidden; /*background: url(../img/bottom-bg.jpg) top center no-repeat; background-size: cover;*/ }

footer { overflow: hidden; width: 100%; text-align: center; background: rgba(0, 0, 0, 0.6); }
footer a
{
	color: #ffffff;
	font-weight: bold;
}
footer a:hover { color: #212121; }
footer .copyright { padding:  28px 0px; max-width: 1100px; margin: auto;}
footer .copyright p { padding: 0px; font-size: 14px; color: #a9abad; font-family: 'Arial'; margin: 0px; }
footer .copyright a { color: #a9abad; text-decoration: none; }
footer .copyright a:hover { color: #ffffff; }




green
{
	color: #08b808;
	font-weight: bold;
}

red
{
	color: #ff0000;
	font-weight: bold;
}

.center
{
	text-align: center;
}
.block
{
	display: inline-block;
}
.hide
{
	display: none;
}

.anchor
{
	background: none !important;
    border: none !important; 
    padding: 0 !important; 
    font-family: arial, sans-serif;
    cursor: pointer;

	color: #ff6000;
	text-decoration: none;
	
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.anchor:hover
{
	color: #424242;
	
	text-shadow:
	/*nach oben*/
    0 0 20px #fefcc9,
    10px -10px 30px #feec85,
    -20px -20px 40px #ffae34,
	/*nach unten*/
	/*0 0 20px #fefcc9,*/
    10px 10px 30px #feec85,
    -20px 20px 40px #ffae34;
}

/*====index====*/
.module
{
	display: inline-block; background: rgba(100, 100, 100, .4); width: 100%; max-width: 500px; padding: 10px; margin: 1.2%; border: 1px solid #424242;
}
.module .output
{
	overflow-y: scroll;
	height: 400px;
}
.module.transparent
{
	background: none;
	border: none;
}
#msg
{
	position: relative;
	left: 50%;
	margin-bottom: 42px; /*42 == line-height*/
}
#msg h3
{
	position: absolute;
	top: 0;
	left: 0;
}
#msg h3 div
{
	position: relative;
	left: -50%;
}
/*====/index====*/

/*====contact====*/
#contact
{
	text-align: center;
}
#contact #messageForm
{
	text-align: left;
}
#captcha_reload
{
	/*font-weight: bold;*/
	/*mit "reload"
	font-size: 20px;
	width: 18px;
	height: 12px;
	line-height: 10px;*/
	font-size: 28px;
	width: 24px;
	height: 20px;
	line-height: 16px;

	text-align: center;
	margin: 0 auto;
	display: block;

	-webkit-filter: sepia(0) blur(0);
	filter: sepia(0) blur(0);
	
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
	
	cursor: pointer;
}    
#captcha_reload:hover
{
	-webkit-filter: sepia(20%) blur(1px);
	filter: sepia(20%) blur(1px);

	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}
#captcha_reload:active
{
	-webkit-transition: .0s ease-in-out;
	transition: .0s ease-in-out;
	
	color: #ff6000;
	
	-webkit-filter: sepia(0) blur(0);
	filter: sepia(0) blur(0);
}
/*====/contact====*/

/*====deeds====*/
.deedAnchor
{
	display: inline-block;
	width: 80%;
	text-shadow: none;
}
.deedAnchor:hover
{
	text-shadow: none;
}
.deedAnchor:hover .deed
{
	border: 1px solid #ff6000;
	text-shadow: none;
}
.deed
{
	width: 100%;
	background: #dddddd;
	border: 1px solid #424242;
	color: #212121;
	padding: 14px 20px;
	overflow: hidden;
}
.deed.closed
{
	background: #bbbbbb;
	color: #696969;
}
.deed div
{
	position: realtive;
}
.deed .name,
.deed .address
{
	float: left;
}
.deed .category,
.deed .trustLevel
{
	float: right;
}
.deed .description
{
	text-align: left;
}
/*====/deeds====*/

/*====deeds_create====*/
.deeds_create input[name=name],
.deeds_create input[name=place],
.deeds_create input[name=place],
.deeds_create input[name=organization]
{
	width: 80%;
	margin-bottom: 5px;
}
.deeds_create input[name=startdate],
.deeds_create input[name=enddate]
{
	width: 25%;
}
.deeds_create input[name=starttime],
.deeds_create input[name=endtime]
{
	width: 29%;
}
.deeds_create input[name=street]
{
	width: 50%;
}
.deeds_create input[name=housenumber]
{
	width: 29%;
}
.deeds_create input[name=postalcode]
{
	width: 80%;
}
.deeds_create textarea[name=description]
{
	width: 100%;
}
.deeds_create select[name=category]
{
	width: 40%;
}
.deeds_create input[name=countHelper],
.deeds_create select[name=tat_verantwortungslevel]
{
	width: 20%;
}
.deeds_create input[form=suggestCategory]
{
	font-size: 12px;
	padding: 8px 21px 8px 21px;
}
/*====/deeds_create====*/

/*====search====*/
.keyword_text
{
	font-size: 20px
}
.resultSpan
{
	margin-right: 50%;
	font-size: large;
}
.pageSelect
{
	margin-left: 30px;
}
.pageInfo
{
	margin-left: 70%;
	font-size: 15px;
}
.setPageAnchor
{
	margin-left: 30px;
	font-size: 20px
}
/*====/search====*/

/*====deeds_details====*/
.deed_details
{
	display: inline-block;
	position: relative;
	background: rgba(255, 255, 255, .6);
	width: 80%;
	max-width: 1000px;
	padding: 20px;
	margin: 1.2%;
	border: 1px solid #424242;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .4);
}

.deed_details .author
{
	position: absolute;
	cursor: pointer;
	
	line-height: 32px;
}
.deed_details .author a img
{
	display: inline-block;
	height: 32px;
	margin-right: 5px;
	border-radius: 50%;
	
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.deed_details .author:hover a img
{
	border-radius: 0%;
}

.deed_details .period
{
	/*background: #ff0000;position: absolute;width:100%;*/
	text-align: right;
	float: right;
}
.deed_details .period span
{
	font-weight: bold;
}

.deed_details .description
{
	margin-top: 50px;
	text-align: left;
	white-space: pre-wrap;
	word-wrap: break-word;
	
	background: rgba(255, 255, 255, .6);
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #424242;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, .2);
}
.deed_details .description span
{
	font-weight: bold;
}
.deed_details .infos
{
	width: 82%;
	padding: 10px 10px 0 10px;
	margin-bottom: 15px;
	background: rgba(255, 255, 255, .6);
	border: 1px solid #424242;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, .2);
}
.deed_details .infoLabel
{
	padding-right: 30px;
}
.deed_details .infoValue
{
	padding-right: 50px;
}
.deed_details .addressValue
{
	padding-right: 70px;
}
.deed_details td
{
	padding-bottom: 6px;
}
/*====/deeds_details====*/

/*====comment====*/
#comments
{
}
.comment
{
	display: inline-block;
	position: relative;
	background: rgba(255, 255, 255, .2);
	width: 100%;
	max-width: 500px;
	padding: 1%;
	margin: 1.2%;
	border: 1px solid #424242;
	border-radius: 20px;
}
.comment .author
{
	position: absolute;
	cursor: pointer;
	
	line-height: 32px;
}
.comment .author a img
{
	display: inline-block;
	height: 32px;
	margin-right: 5px;
	border-radius: 50%;
	
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.comment .author:hover a img
{
	border-radius: 0%;
}
.comment .author.deleted
{
	left: 37px;
	cursor: default;
}
.comment .createDate
{
	position: absolute;
	width: 95%;
	text-align: right;
	font-size: 12px;
	color: #848484;
}
.comment .text
{
	margin-top: 42px;
	text-align: left;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.commentPageSelection form
{
	display: inline-block;
}
.commentPageSelection form input
{
	margin: 5px;
	padding: 0 8px;
}
.commentPageSelection form input.selected
{
	background: #848484;
	background-image: -webkit-linear-gradient(top, #848484, #424242);
	background-image: -moz-linear-gradient(top, #848484, #424242);
	background-image: -ms-linear-gradient(top, #848484, #424242);
	background-image: -o-linear-gradient(top, #848484, #424242);
	background-image: linear-gradient(to bottom, #848484, #424242);
}
/*====/comment====*/

/*====profile====*/
.profile table tr td
{
	boder: none;
	padding-bottom: 15px;
}
.profile table tr th
{
	text-align: center;
}
.profile .deleteMessage
{
	width: 50%;
	margin-left: 25%;
}
.profile input[name='txtHobbys']
{
	width: 100%;
}
/*====/profile====*/




