/*
	Stylesheet for Tigra Calendar v5.0
	Product is Public Domain (Free for any kind of applicaiton, customization and derivative works are allowed) 
	URL: http://www.softcomplex.com/products/tigra_calendar/

	- all image paths are relative to path of stylesheet
	- the styles below can be moved into the document or in existing stylesheet

*/

/* input box in default state */ 
.dateSelectorInput {
	background: url('dateSelectorImg/cal.gif') 100% 50% no-repeat;
	padding-right: 20px;
	cursor: pointer;
}

/* additional properties for input boxe in activated state, above still applies unless in conflict */
.dateSelectorActive {
	background-image: url('dateSelectorImg/no_cal.gif');
}
/* container of calendar's pop-up */
#dateSelector {
	position: absolute;
	visibility: hidden;
	z-index: 100;
	width: 170px;
	background-color: black;
	margin-top: 2px;
	padding: 0 2px 2px 2px;
	border: 1px solid #ff6000;

	-moz-box-shadow: 3px 3px 4px #ff6000;
	-webkit-box-shadow: 3px 3px 4px #ff6000;
	box-shadow: 3px 3px 4px #ff6000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#ff6000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#ff6000');
}

/* table containing navigation and current month */
#dateSelectorControls {
	border-collapse: collapse;
	border: 0;
	width: 100%;
}
#dateSelectorControls td {
	border-collapse: collapse;
	border: 0;
	padding: 0;
	width: 16px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer;
}
#dateSelectorControls th {
	border-collapse: collapse;
	border: 0;
	padding: 0;
	line-height: 25px;
	font-size: 10px;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	white-space: nowrap;
}
#dateSelectorPrevYear { background-image: url('dateSelectorImg/prev_year.gif'); }
#dateSelectorPrevMonth { background-image: url('dateSelectorImg/prev_mon.gif'); }
#dateSelectorNextMonth { background-image: url('dateSelectorImg/next_mon.gif'); }
#dateSelectorNextYear { background-image: url('dateSelectorImg/next_year.gif'); }

/* table containing week days header and calendar grid */
#dateSelectorGrid {
	border-collapse: collapse;
	border: 1px solid silver;
	width: 100%;
}
#dateSelectorGrid th {
	border: 1px solid silver;
	border-collapse: collapse;
	padding: 3px 0;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10px;
	background-color: gray;
	color: white;
}
#dateSelectorGrid td {
	border: 0;
	border-collapse: collapse;
	padding: 2px 0;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	width: 14%;
	font-size: 11px;
	cursor: pointer;
}		
#dateSelectorGrid td.dateSelectorOtherMonth { color: silver; }
#dateSelectorGrid td.dateSelectorWeekend { background-color: #202020; }
#dateSelectorGrid td.dateSelectorToday { border: 1px solid #ff6000; }
#dateSelectorGrid td.dateSelectorSelected { background-color: #611100; }		
