# Author
# Henrik Huckauf
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

ErrorDocument 403 /tueGutes/presentation/error
ErrorDocument 404 /tueGutes/presentation/error
ErrorDocument 500 /tueGutes/presentation/error

			
# Timm	
# Error reporting auf dem live server	
php_flag display_errors on	
php_value error_reporting 6143
